<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src='assets/images/logo.png' alt='logo sidebar' />
  </div>

  <div class='menu-container flex opcoes'>
    <app-button-menu 
    [descricao]="'Home'" 
    [selecionado]="menuSelecionado === 'Home'"
    (click)="botaoClick('Home')"
    >
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-button-menu>
    <app-button-menu 
    [descricao]="'Pesquisar'"
    [selecionado]="menuSelecionado === 'Pesquisar'"
    (click)="botaoClick('Pesquisar')"
    >
      <fa-icon [icon]="pesquisarIcon"></fa-icon>
    </app-button-menu>
    <app-button-menu 
    [descricao]="'Artistas'"
    [selecionado]="menuSelecionado === 'Artistas'"
    (click)="botaoClick('Artistas')"
    >
      <fa-icon [icon]="artistaIcon"></fa-icon>
    </app-button-menu>
  </div>

  <div class="menu-container flex">
    <span class="playlist-titulo">
      PLAYLISTS
    </span>

    <div class="playlist-scroll">
      <app-button-menu
      *ngFor="let playlist of playlists"
      [descricao]="playlist.nome"
      [selecionado]="menuSelecionado === playlist.id"
      (click)="botaoClick(playlist.id)"
      (click)="irParaPlaylist(playlist.id)"
      >
        <fa-icon [icon]="playlistIcon"></fa-icon>
      </app-button-menu>
    </div>
  </div>
</div>
<div class='usuario-info'>
  <app-user-scroll></app-user-scroll>
</div>
