$cor-primaria: #1db954;
$cor-texto: #fbfef463;
$cor-fundo2: rgb(8, 8, 8);;
$cor-fundo: rgb(22, 22, 22);

$branco-transparent-30: #ffffff4d;
$branco-transparent-20: #ffffff33;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;
